.login{
    display:flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0px auto;
    padding-top: 300px;
    align-self: center;
    justify-content: center;
}
.login>.login_top>h2{
    align-self: center;
}
.login_top{
    display: flex;
    flex-direction: column;
    align-self:center;
}
.g_btn{
    align-self: center;
    margin-left: 80px;
}